{{!< default}}


{{#foreach posts}}
  <div class="inner cover post post-head">
    <h1 class="cover-heading post-title"><a href="{{url}}">{{{title}}}</a></h1>
  </div>

<div class="inner cover post post-body">
{{excerpt}}
</div>
{{/foreach}}


{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}

<div class="inner cover container post post-foot">
</div>

